* {
	padding: 0;
	margin: 0;
}
@media(min-width: 600px){
    .header img{
        opacity: 0;
    }
    .container {
        max-width: 1200px;
        margin: 0 auto;
        /*display: flex;
        flex-wrap: wrap;*/
    }
}
.header {
	background-color: #117a25;
	color: #f2f2f2;
	font-family: "Roboto", sans-serif;
	/*padding-left: 10%;*/
}
.header p {
	font-size: 16px;
	line-height: 19px;
	padding-top: 68px;
}
.header h1 {
	font-weight: bold;
	font-size: 24px;
	line-height: 28px;
}
.nav {
	overflow: hidden;
	background-color: #00420c;
	color: #f2f2f2;
	font-size: 18px;
	line-height: 21px;
}
.nav table {
    /*margin-left: 10%;*/
    margin: 0;
}
.nav__elementos {
	border-spacing: 22px;
}
.main {
	font-family: "Roboto", sans-serif;
	/*margin-left: 10%;
	margin-right: 56%;
	display: flex;*/
}
.main__texto {
	/*background-color: blue;*/
	padding: 0 15px;
}
.main__texto h2 {
	font-style: normal;
	font-size: 24px;
	line-height: 28px;
	color: #00420c;
	margin: 25px 0;
	text-align: center;
}
.main__texto p {
	font-size: 16px;
	line-height: 25px;
	text-align: justify;
}
.main__texto ul{
	padding-left: 25px;
}
.main__conceito {
	background-color: #117a25;
	color: white;
	border-radius: 5px;
	text-align: center;
	margin: 0 30px;
	font-size: 22px;
	/*padding: 20px;*/
}
.main__conceito-frase{
	padding-top: 25px;
}
.main__conceito-numero{
	padding: 30px 0;
	font-size: 38px;

}
.footer {
	background: #00420c;
	font-family: "Roboto", sans-serif;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	font-size: 18px;
	color: white;
}
.footer__imagem{
	image-rendering: optimizeQuality;
	margin: 0 auto;
}
.footer h3 {
	font-weight: bold;
}
.footer p {
}
